<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="dist/app.css">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <!-- header che contiene il jumbotron e la navbar -->
            <div class="goTop"><a href="#"><i class="fas fa-chevron-up"></i></a></div>
            <header>
                <div class="slide_head" :class="'slide_'+index" v-for="(item, index) in imgs" :key="index" v-show="index==HeadSlideCount">
                    <div class="container">
                        <!-- <div class="img_head_wrapper"> -->
                            <img :src="'images/'+item" alt="">
                        <!-- </div> -->
                    </div>
                </div>
               <div class="nav_wrapper">
                   <div class="nav_wrapper__logo_wrapper">
                       <a href="#"><img src="images/logo_seo_w_1x.png" alt="logo Seo" class="logo_wrapper__img"></a>
                   </div>                     
                   <nav class="nav_wrapper__main_nav">
                        <ul>
                            <!-- <li><a href="#" class="active">home</a></li>
                            <li><a href="#">who we are</a></li>
                            <li><a href="#">what we do</a></li>
                            <li><a href="#">where we work</a></li> -->
                            <li v-for="(item, index) in navVoices" :key="index"><a :href="item.link">{{item.voice}}</a> <button v-if="item.btn.special" class="special">{{item.btn.message}}</button></li>
                            <!-- <li><a href="#">news</a></li> -->
                        </ul>
                        <a class="btn_primary" href="#">get in touch now</a>
                   </nav>
               </div>
               <div class="jumbotron">
                    <div class="clame">
                        <h1>SEM campagane made simple with avada</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil officiis, quasi iusto molestias assumenda</p>
                        <div class="jumbotron__btn_wrap">
                            <a class="btn_primary big" href="#">buy avada now</a>
                            <a class="btn_primary btn_secondary big" href="#">contact us</a>
                        </div>
                    </div>
               </div>
            </header> 
            <!-- sezione 1 con 3 card -->
            <section class="section-1 gray">
            <div class="intro">
                <h2>meet the new agency SEO template from the avada team</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores fuga vero</p>
            </div>
            <!-- card statiche -->
            <div class="card_wrap">
                <div class="card_wrap__card">
                    <div class="card__wrap_logo">
                        <i class="fas fa-road wrap_logo__font"></i>
                    </div>
                    <h3>enstablish goals</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae deleniti</p>
                </div>

                <div class="card_wrap__card">
                    <div class="card__wrap_logo">
                        <i class="fas fa-road wrap_logo__font"></i>
                    </div>
                    <h3>enstablish goals</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                        deleniti</p>
                </div>

                <div class="card_wrap__card">
                    <div class="card__wrap_logo">
                        <i class="fas fa-road wrap_logo__font"></i>
                    </div>
                    <h3>enstablish goals</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                        deleniti</p>
                </div>

            </div>
            </section>
            <!-- sezione 2 con 4 card per servizzi-->
            <section class="section-2 blue">
                <div class="intro color_section">
                    <h2>See our top notch service</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores fuga vero</p>
                </div>
                <div class="card_wrap">
                    <div class="card_wrap__card color_section">
                        <div class="card__wrap_logo">
                            <i class="fab fa-google"></i>
                        </div>
                        <h3>google SEO</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                            deleniti</p>
                        <a href="#">read more <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="card_wrap__card color_section">
                        <div class="card__wrap_logo">
                            <i class="fab fa-google"></i>
                        </div>
                        <h3>google SEO</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                            deleniti</p>
                        <a href="#">read more <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="card_wrap__card color_section">
                        <div class="card__wrap_logo">
                            <i class="fab fa-google"></i>
                        </div>
                        <h3>google SEO</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                            deleniti</p>
                        <a href="#">read more <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="card_wrap__card color_section">
                        <div class="card__wrap_logo">
                            <i class="fab fa-google"></i>
                        </div>
                        <h3>google SEO</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                            deleniti</p>
                        <a href="#">read more <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </section>
            <!-- sezione 3 con le card generate -->
            <section class="section-3 gray">
                <div class="intro">
                    <h2>our Work</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores fuga vero</p>
                </div>
                <div class="img_showcase">
                    <div class="work_wrap" v-for="(item, index) in imgNumbers" :key="index">
                        <img :src="'images/case-study-gallery-'+item.imgNumber+'-800x600.jpg'" :alt="item.description">
                    </div>
                </div>
                <a class="btn_primary big" href="#">view our work</a>
            </section>
            <!-- card offerte generate -->
            <section class="section-4 blue">
                <div class="intro color_section">
                    <h2>See our top notch service</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores fuga vero</p>
                </div>
                <div class="card_wrap">
                    <div class="card_wrap__card price" v-for="(item, index) in plans" :key="index">
                        <h3>{{item.type}}</h3>
                        <ul>
                            <li class="price">
                                <!-- <div class="dollar">
                                    <i class="fas fa-dollar-sign"></i>
                                </div> -->
                                <div class="price__number">
                                    <div class="dollar">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                    <span>{{item.price}}</span>
                                </div>
                                <div class="decimal">
                                    <span class="cent">99</span>
                                    <span class="month">montly</span>
                                </div>
                            </li>
                            <li><span>{{item.nProject}} Projects</span></li>
                            <li><span>{{item.storage}} Storage</span></li>
                            <li><span>{{item.users}}</span></li>
                        </ul>
                        <button class="btn_primary btn_gray">start today</button>
                    </div>
                </div>
            </section>
            <!-- sezione news statica -->
            <section class="section-5 gray">
                <div class="intro">
                    <h2>our news</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores fuga vero</p>
                </div>
                <div class="card_wrap">
                   <div class="news_card">
                        <div class="img_wrap">
                            <img src="images/related-service-2-700x441.jpg" alt="">
                        </div>
                        <h3>Why you nedd a SEO agency now</h3>
                        <p><small>November 1st, 2017</small></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eius. Porro incidunt adipisci fugit ad ipsum
                            voluptates ab, dolore atque quaerat itaque, quo est aperiam impedit distinctio id aut! Veritatis.</p>
                   </div>
                    <div class="news_card">
                        <div class="img_wrap">
                            <img src="images/related-service-4-700x441.jpg" alt="">
                        </div>
                        <h3>SEO tips for your start up</h3>
                        <p><small>November 1st, 2017</small></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eius. Porro incidunt adipisci fugit ad ipsum
                            voluptates ab, dolore atque quaerat itaque, quo est aperiam impedit distinctio id aut! Veritatis.</p>
                    </div>
                    <div class="news_card">
                        <div class="img_wrap">
                            <img src="images\blog-post-6-700x441.jpg" alt="">
                        </div>
                        <h3>images optimization for youre site</h3>
                        <p><small>November 1st, 2017</small></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eius. Porro incidunt adipisci fugit ad ipsum
                            voluptates ab, dolore atque quaerat itaque, quo est aperiam impedit distinctio id aut! Veritatis.</p>
                    </div>
                </div>
                <a class="btn_primary big" href="#">go to news</a>
            </section>
            <!-- carousell -->
            <section class="section-6">
                <div class="intro">
                    <h2>what our client say</h2>
                </div>
                <div class="container">
                    <div id="slider">
                        <!-- prima slide -->
                        <div class="slide_testimonial first" :class="(index == sliderCount)? 'active_s' : '' "  v-for="(item, index) in slides" :key="index">
                            <div class="testimonial_img_wrap">
                                <img :src="'images/testimonials-'+item.img+'.jpg'" alt="">
                            </div>
                            <p class="cit">{{item.text}}</p>
                            <p class="author"><span>{{item.testimonialData.name}},</span> <span>{{item.testimonialData.corp}}</span></p>
                        </div>
                        <!-- seconda slide -->
                        <!-- <div class="slide_testimonial last">
                            <div class="testimonial_img_wrap">
                                <img src="images\testimonials-1.jpg" alt="">
                            </div>
                            <p class="cit">Ability procedees from a fusiom of skils, knowledge, undertanding and imagination, consolidated by
                                experience</p>
                            <p class="author"><span>Luis Desalvo,</span> <span>creo tech</span></p>
                        </div> -->
                        <div class="bullet">
                            <div 
                            class="circle" 
                            v-for="(item, index) in slides" 
                            :key="index" 
                            :class="(index == sliderCount)? 'active' : '' "
                            v-on:click="slideToIndex(index)"
                            ></div>
                        </div> 
                        
                    </div>
                    <hr>
                    <div class="partner_logo">
                        <!-- loghi generati visto i nomi delle immagini -->
                        <div class="parter_logo__wrap" v-for="(item, index) in partners" :key="index">
                            <img :src="'images/clients_partner_'+item.number+'-200x202.png'" alt="item.description">
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-7">
                <div class="container_overlay">
                    <div class="intro color_section">
                        <h2>start your free consultation</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate beatae fuga deleniti velit vel magnam rerum
                            quo nobis nemo aliquid. Corporis minima facilis vero velit</p>
                        <a class="btn_primary big" href="#">contact us now</a>
                    </div>
                </div>
            </section>
            <footer class="gray">
                <div class="footer_top">
                    <div class="logo">
                        <a href="#"><img src="images/logo_seo_1x.png" alt=""></a>
                    </div>
                    <nav class="nav_wrapper__main_nav">
                        <ul>
                            <li v-for="(item, index) in navVoices" :key="index">
                                <a :href="item.link">{{item.voice}}</a>
                            </li>
                        </ul>
                        <a class="btn_primary no_bg" href="#">get in touch now</a>
                    </nav>
                </div>
                <div class="footer_bot">
                    <ul class="credits">
                        <li>
                            <span><i class="far fa-copyright"></i></span> copyrigth 2012-2020
                        </li>
                        <li>avada theme by <span class="important">theme fusion</span></li>
                        <li>all right reserved</li>
                        <li>powered by <span class="important">Word Press</span></li>
                    </ul>
                    <ul class="social">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>