<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="dist/app.css">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <!-- header che contiene il jumbotron e la navbar -->
            <header>
               <div class="nav_wrapper">
                   <div class="nav_wrapper__logo_wrapper">
                        <img src="images/logo_seo_w_1x.png" alt="logo Seo" class="logo_wrapper__img">
                   </div>                     
                   <nav class="nav_wrapper__main_nav">
                        <ul>
                            <li><a href="#" class="active">home</a></li>
                            <li><a href="#">who we are</a></li>
                            <li><a href="#">what we do</a></li>
                            <li><a href="#">where we work</a></li>
                            <li><a href="#">Careers</a> <button class="special">apply</button></li>
                            <li><a href="#">news</a></li>
                        </ul>
                        <button class="btn_primary">get in touch now</button>
                   </nav>
               </div>
               <div class="jumbotron">
                    <div class="clame">
                        <h1>SEM campagane made simple with avada</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil officiis, quasi iusto molestias assumenda</p>
                        <div class="jumbotron__btn_wrap">
                            <button class="btn_primary big">buy avada now</button>
                            <button class="btn_primary btn_secondary big">contact us</button>
                        </div>
                    </div>
               </div>
            </header> 
            <!-- sezione 1 con 3 card -->
            <section class="section-1 gray">
            <div class="intro">
                <h2>meet the new agency SEO template from the avada team</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores fuga vero</p>
            </div>
            <!-- card statiche -->
            <div class="card_wrap">
                <div class="card_wrap__card">
                    <div class="card__wrap_logo">
                        <i class="fas fa-road wrap_logo__font"></i>
                    </div>
                    <h3>enstablish goals</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae deleniti</p>
                </div>

                <div class="card_wrap__card">
                    <div class="card__wrap_logo">
                        <i class="fas fa-road wrap_logo__font"></i>
                    </div>
                    <h3>enstablish goals</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                        deleniti</p>
                </div>

                <div class="card_wrap__card">
                    <div class="card__wrap_logo">
                        <i class="fas fa-road wrap_logo__font"></i>
                    </div>
                    <h3>enstablish goals</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                        deleniti</p>
                </div>

            </div>
            </section>
            <!-- sezione 2 con 4 card per servizzi-->
            <section class="section-2 blue">
                <div class="intro color_section">
                    <h2>See our top notch service</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores fuga vero</p>
                </div>
                <div class="card_wrap">
                    <div class="card_wrap__card color_section">
                        <div class="card__wrap_logo">
                            <i class="fab fa-google"></i>
                        </div>
                        <h3>google SEO</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                            deleniti</p>
                        <a href="#">read more <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="card_wrap__card color_section">
                        <div class="card__wrap_logo">
                            <i class="fab fa-google"></i>
                        </div>
                        <h3>google SEO</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                            deleniti</p>
                        <a href="#">read more <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="card_wrap__card color_section">
                        <div class="card__wrap_logo">
                            <i class="fab fa-google"></i>
                        </div>
                        <h3>google SEO</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                            deleniti</p>
                        <a href="#">read more <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="card_wrap__card color_section">
                        <div class="card__wrap_logo">
                            <i class="fab fa-google"></i>
                        </div>
                        <h3>google SEO</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptatum dolorem. Magni, fuga recusandae
                            deleniti</p>
                        <a href="#">read more <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </section>
            <!-- sezione 3 con le card generate -->
            <section class="section-3 gray">
                <div class="intro">
                    <h2>our Work</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores fuga vero</p>
                </div>
                <div class="img_showcase">
                    <div class="work_wrap" v-for="(item, index) in imgNumbers" :key="index">
                        <img :src="'images/case-study-gallery-'+item.imgNumber+'-800x600.jpg'" :alt="item.description">
                    </div>
                </div>
                <button class="btn_primary big">view our work</button>
            </section>
            <section class="section-4 blue">
                <div class="intro color_section">
                    <h2>See our top notch service</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab asperiores fuga vero</p>
                </div>
                <div class="card_wrap">
                    <div class="card_wrap__card price" v-for="(item, index) in plans" :key="index">
                        <h3>{{item.type}}</h3>
                        <ul>
                            <li class="price">
                                <div class="dollar">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <div class="price">
                                    {{item.price}}
                                </div>
                                <div class="decimal">
                                    <span class="cent">99</span>
                                    <span class="month">montly</span>
                                </div>
                            </li>
                            <li><span>{{item.nProject}} Projects</span></li>
                            <li><span>{{item.storage}} GB Storage</span></li>
                            <li><span>{{item.users}}</span></li>
                        </ul>
                        <button class="btn_gray">start today</button>
                    </div>
                </div>
            </section>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>