.card_wrap__card.color_section {
    width: 23%;
    background-color: $serviceCard;
    color: white;
    padding: 30px 35px;
    p {
        margin-bottom: 15px;
    }
    a{
        color: $primaryColor;
        &:hover {
            text-decoration: underline;
        }
        .fas.fa-chevron-right {
            font-size: 12px;
            position: relative;
            bottom: 1px;
        }
    }
}