.card_wrap__card.price {
    width: 24%;
    li {
        margin: 35px 0;
        color: $paragraphColor;

        &.price {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .price__number {
                .dollar {
                    display: inline-block;
                    .fas.fa-dollar-sign {
                        font-size: 18px;
                        vertical-align: super;
                        position: relative;
                        left: 9px;
                    }
                }
                span {
                    color: $priceColor;
                }
                font-size: 40px;
                font-weight: 900;
            } 
            .decimal {
                display: flex;
                flex-direction: column;
                align-self: center;
                .cent {
                    font-size: 14px;
                    position: relative;
                    right: 8px;
                    bottom: 4px;
                    font-weight: 900;
                    color: $priceColor;
                }
                .month {
                    font-size: 11px;
                    font-style: italic;
                    font-weight: 900;
                    color: #818e9d;
                }
            }
        } 
    }
    
}