header {
    height: 700px;
    background-image: url("../images/1-hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    text-transform: capitalize;
    font-size: $fontNavBar;
    a {
        color: white;

        &.active {
            color: $primaryColor;
        }

    }
    .nav_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: $container;

        &__main_nav {
            display: flex;
            align-items: center;
            ul {
                display: flex;
                align-items: baseline;
                li {
                    padding: 0 20px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &:hover a {
                        color: $primaryColor;
                        transition: all .13s ease;
                    }
                }
            }
        }
    }
}