header {
    height: 700px;
    position: relative;
   /*  background-image: url("../images/1-hero-image.png");
    background-repeat: no-repeat;
    background-size: cover; */
    padding-top: 20px;
    text-transform: capitalize;
    font-size: $fontNavBar;
    .slide_head {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        .container {
            height: 100%;
            position: relative;
            img {
                position: absolute;
                top: 50%;
                right: -25%;
                transform: translate(-50%, -50%);
            }
        }
        &.slide_0 {
            img {
                width: 50%;
            }
            background: rgb(55,29,90);
            background: linear-gradient(142deg, rgba(55,29,90,1) 0%, rgba(51,157,69,1) 94%, $primaryColor 100%);
        }
        &.slide_1 {
            img {
                width: 41%;
                top: 52%;
                right: -16%;
            }
            background: rgb(19,15,125);
            background: linear-gradient(142deg, rgba(19,15,125,1) 0%, rgba(88,13,153,1) 59%, rgba(155,55,241,1) 100%);
        }
    }
    a {
        color: white;

        &.active {
            color: $primaryColor;
        }

    }
    .nav_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: $container;

        &__main_nav {
            display: flex;
            align-items: center;
            ul {
                display: flex;
                align-items: baseline;
                li {
                    padding: 0 20px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &:hover a {
                        color: $primaryColor;
                        transition: all .13s ease;
                    }
                }
            }
        }
    }
}

