$primaryColor: #ffa837;
$secondaryColor: #0369d7;
$paragraphColor: #5d5d5d;
$serviceCard: #1a236c;
$serviceBg: #051745;
$backgroundGray: #f8f8f8;
$txtGray: #bcbbbc;
$priceColor: #351ba2;
$btnRadius: 16px;
$fontBig: 50px;
$fontMainT: 21px; 
$fontSectionT: 30px;
$fontTitleCard: 23px;
$fontNavBar: 14px;
$fontPcard: 12px;
$fontP: 18px;
$container: 1200px;
$padding80: 80px;
$fontAWsize: 30px;