$primaryColor: #ffa837;
$secondaryColor: #0369d7;
$paragraphColor: #5d5d5d;
$serviceCard: #1a236c;
$btnRadius: 12px;
$fontBig: 44px;
$fontMainT: 22px; 
$fontTitleCard: 16px;
$fontPcard: 12px;
$fontP: 18px;
$container: 1200px;